<input type="text" [(ngModel)]="searchText" name="searchText">
<p>Resultado da busca por: {{searchText}}</p>
<ul>
    <li *ngFor="let person of persons | filter:searchText">
        <span>{{person.name}}</span>
        <ol>
            <li *ngFor="let friend of person.friends">
                <span>{{friend.name}}</span>
                <ul>
                    <li *ngFor="let f of friend.friends">
                        <span>{{f.name}}</span>
                    </li>
                </ul>
            </li>
        </ol>
    </li>
</ul>

<input type="text" appHorario [(ngModel)]="teste">